# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files 
.DS_Store
Thumbs.db

# VS Code settings 
.vscode/

# YOLO runs folder 
runs/
*.pt
*.whl



# Media files
*.mp4
*.mov
*.avi

# Ignore generated images and samples
*.png
*.jpg
*.jpeg